.output{
    color: rgb(93, 93, 228);
}

.Ractangle{
    display: none;
}

.Squre{
    display: none;
}

.Tringle{
    display: none;
}

.Redius{
    display: none;
}

color{
    color:rgb(75, 75, 245);
}


color{
    background-color: red;
    bo
}